@using Skalmejen.UI.Util
<div class="skalmejen-spotify-container">
    <div class="skalmejen-spotify-body">
        <div class="skalmejen-spotify-body-left">
            <div class="skalmejen-spotify-title">Spotify Track</div>
            <div class="skalmejen-spotify-input-container">
                <label class="skalmejen-spotify-input-label" for="skalmejen-spotify-input-track-id">Track ID</label>
                <input type="text" class="skalmejen-spotify-input" id="skalmejen-spotify-input-track-id" />
            </div>
        </div>
        <div class="skalmejen-spotify-body-right">
            <div class="skalmejen-spotify-track-info-container">
                @if(_currentTrack != null) {
                    <div class="skalmejen-spotify-track-info-part-container">
                        <div class="skalmejen-spotify-track-info-part" id="skalmejen-spotify-track-name">@(_currentTrack.Name)</div>
                        <div class="skalmejen-spotify-track-info-label">Track</div>
                    </div>

                    <div class="skalmejen-spotify-track-info-part-container">
                        <div class="skalmejen-spotify-track-info-part" id="skalmejen-spotify-track-artist">@(_currentTrack.Artist)</div>
                        <div class="skalmejen-spotify-track-info-label">Artist</div>
                    </div>
                    <img src="@(_currentTrack.Images.First().Url)" id="skalmejen-spotify-track-info-image" width="100" height="100" />
                }
            </div>
        </div>
    </div>
    <div class="skalmejen-spotify-playback">
        @if (_currentTrack != null)
        {

            <div class="skalmejen-spotify-playback-range">
                <div id="skalmejen-spotify-playback-range-indicators">
                    <div id="skalmejen-spotify-playback-start-range" style="width: @(RangeStartValue.DecimalValueFormatted(3))%;"></div>
                    <div id="skalmejen-spotify-playback-end-range" style="width: @((100 - RangeEndValue).DecimalValueFormatted(3))%;"></div>
                </div>
                <div id="skalmejen-spotify-playback-range-sliders">
                    <input class="skalmejen-spotify-playback-range-slider" id="skalmejen-spotify-playback-start-slider" type="range" min="0" step="0.001" max="100" @bind="RangeStartValue" />
                    <input class="skalmejen-spotify-playback-range-slider" id="skalmejen-spotify-playback-end-slider" type="range" min="0" step="0.001" max="100" @bind="RangeEndValue" />
                </div>
            </div>
            <div id="skalmejen-spotify-playback-range-timespans">
                <div class="skalmejen-spotify-playback-range-timespan-container">
                    <label for="skalmejen-spotify-playback-start-timespan" class="skalmejen-spotify-playback-range-timespan-label">Start</label>
                    <input class="skalmejen-spotify-playback-range-timespan"
                           id="skalmejen-spotify-playback-start-timespan"
                           type="time"
                           min="00:00:00"
                           max="@(_currentTrack.Duration.TimeValueFormatted())"
                           step="0.001"
                           @bind="RangeStartTimeSpan"
                           />
                </div>
                <div class="skalmejen-spotify-button-component">
                    <button type="button" class="skalmejen-spotify-playback-button" id="skalmejen-spotify-backwards" onclick="@(() => OnBackwardClicked())"></button>
                    <button type="button" class="skalmejen-spotify-playback-button @(IsPlaying ? "play" : "pause")-mode" id="skalmejen-spotify-play-pause" onclick="@(() => OnPlayPauseClicked())"></button>
                    <button type="button" class="skalmejen-spotify-playback-button" id="skalmejen-spotify-forwards" onclick="@(() => OnForwardClicked())"></button>
                </div>


                <div class="skalmejen-spotify-playback-range-timespan-container">
                    <label for="skalmejen-spotify-playback-end-timespan" class="skalmejen-spotify-playback-range-timespan-label">End</label>
                    <input class="skalmejen-spotify-playback-range-timespan"
                           id="skalmejen-spotify-playback-end-timespan"
                           type="time"
                           min="00:00:00"
                           max="@(_currentTrack.Duration.TimeValueFormatted())"
                           step="0.001"
                           @bind="RangeEndTimeSpan"
                           />
                </div>
            </div>

        }
    </div>
</div>